beautifulsoup4==4.6.3
certifi==2018.8.13
chardet==3.0.4
cssselect==1.0.3
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.7
jieba3k==0.35.1
lxml==4.2.4
newspaper3k==0.2.6
nltk==3.3
numpy==1.15.0
Pillow==5.2.0
python-dateutil==2.7.3
PyYAML==3.13
requests==2.20.0
requests-file==1.4.3
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
tldextract==2.2.0
urllib3==1.24.2
webhoseio==0.5
